<!DOCTYPE html>
<html>

<head>
    <title>Log In</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap4/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/login-form.css">
</head>

<body>
    <div class="container full-height">
        <div class="row flex center v-center full-height">
            <div class="col-8 col-sm-4">
                <div class="form-box">
                    <% include ./partials/messages %>
                    <form method="POST" action="/users/login">
                        <fieldset>
                            <legend>Sign in</legend><img src="/images/avatar.png" id="avatar" class="avatar round">
                            <input class="form-control" type="text" id="username" name="username"
                                placeholder="username">
                            <input class="form-control" type="password" id="password" name="password"
                                placeholder="password">
                            <button class="btn btn-primary btn-block" type="submit">LOGIN </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="javascripts/jquery-3.2.1.min.js"></script>
    <script src="stylesheets/bootstrap4/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>